@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(25% 0.01 270);
  --color-primary: oklch(65% 0.25 25);
  --color-primary-content: oklch(99% 0.005 90);
  --color-secondary: oklch(60% 0.2 250);
  --color-secondary-content: oklch(99% 0.005 90);
  --color-accent: oklch(90% 0.2 100);
  --color-accent-content: oklch(30% 0.05 80);
  --color-neutral: oklch(55% 0.02 270);
  --color-neutral-content: oklch(95% 0.01 270);
  --color-info: oklch(75% 0.15 235);
  --color-info-content: oklch(25% 0.06 250);
  --color-success: oklch(75% 0.18 150);
  --color-success-content: oklch(20% 0.05 150);
  --color-warning: oklch(80% 0.16 80);
  --color-warning-content: oklch(30% 0.1 70);
  --color-error: oklch(62% 0.26 28);
  --color-error-content: oklch(99% 0.005 90);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 1.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  prefersdark: true;
  color-scheme: dark;
  --color-base-100: oklch(20% 0.01 270);
  --color-base-200: oklch(25% 0.015 270);
  --color-base-300: oklch(30% 0.02 270);
  --color-base-content: oklch(95% 0.01 270);
  --color-primary: oklch(60% 0.24 25);
  --color-primary-content: oklch(99% 0.005 90);
  --color-secondary: oklch(55% 0.19 250);
  --color-secondary-content: oklch(99% 0.005 90);
  --color-accent: oklch(88% 0.2 100);
  --color-accent-content: oklch(25% 0.05 80);
  --color-neutral: oklch(40% 0.015 270);
  --color-neutral-content: oklch(85% 0.01 270);
  --color-info: oklch(55% 0.18 240);
  --color-info-content: oklch(95% 0.02 240);
  --color-success: oklch(70% 0.17 150);
  --color-success-content: oklch(20% 0.05 150);
  --color-warning: oklch(75% 0.15 80);
  --color-warning-content: oklch(30% 0.1 70);
  --color-error: oklch(60% 0.25 28);
  --color-error-content: oklch(99% 0.005 90);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 1.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'cherry';
  default: false;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: oklch(97% 0.014 343.198);
  --color-base-200: oklch(94% 0.03 12.58);
  --color-base-300: oklch(89% 0.058 10.001);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(71% 0.202 349.761);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(71% 0.203 305.504);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(85% 0.138 181.071);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(87% 0.169 91.605);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
